/*FOOTER*/
section.footer {
	padding: 30px 0;
	background: #131313;
	color: #fff;
	font-size: 16px;

	@media (min-width: $responsive-tablet) {
		padding: 95px 0;
	}

	.to-top {
		display: block;
		width: 38px;
		height: 38px;
		background: #b5876d;
		position: absolute;
		right: 20px;
		top: -20px;

		&:hover {
			background: darken(#b5876d, 5%);
		}

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 15px;
			height: 10px;
			background: url("assets/images/ui/icons.png") no-repeat 0px -196px;
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		position: relative;

		@media (min-width: $responsive-tablet) {
			justify-content: space-between;
		}

		@media (min-width: $responsive-desktop) {
			flex-wrap: nowrap;
		}

		&>div {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 40px;
			}

			@media (min-width: $responsive-tablet) {
				width: 49%;
			}

			@media (min-width: $responsive-desktop) {
				max-width: 290px;
				width: auto;

				&:not(:last-child) {
					margin-bottom: 0;
				}
			}
		}
	}

	.about {

		.logo {
			margin-bottom: 25px;
		}

		p {
			font-size: 16px;
			margin-bottom: 30px;
		}

		.footer-social {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		li {

			&:not(:last-child) {
				margin-right: 15px;
			}
		}

		a {			

			&:hover {
				
				i {
					opacity: 1;
				}
			}
		}

		i {
			width: 33px;
			transition: 0.3s;
			height: 33px;
			opacity: .5;
		}

		.footer-facebook {
			background-position: 0 -207px;
		}

		.footer-instagram {
			background-position: 0 -241px;
		}

		.footer-linkedin {
			background-position: 0 -275px;
		}

		.footer-twitter {
			background-position: 0 -309px;
		}
	}

	.subtitle {
		text-transform: uppercase;
		font-size: 17.52px;
		font-weight: 500;
		margin-bottom: 20px;

		@media (min-width: $responsive-tablet) {
			margin-bottom: 50px;
		}
	}

	.contacts {
		
		li {
			position: relative;
			padding-left: 45px;

			&:not(:last-child) {
				margin-bottom: 15px;
				min-height: 34px;
			}

			&:before {
				display: block;
				content: '';
				width: 34px;
				height: 34px;
				position: absolute;
				top: 0;
				left: 0;
				background: url("assets/images/ui/icons.png") no-repeat;
			}
		}

		span {
			display: block;
		}

		.address {

			&:before {
				background-position: 0 -342px;
			}
		}

		.mails {

			&:before {
				background-position: 0 -376px;
			}
		}

		.phones {

			&:before {
				background-position: 0 -410px;
			}
		}
	}

	.footer-nav {

		a {

			&:hover {
				text-decoration: underline;
			}
		}

		li {

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	.gallery {

		ul {
			display: flex;
			flex-wrap: wrap;
		}

		li {
			margin-bottom: 8px;

			&:not(:last-child) {
				margin-right: 8px;
			}

			@media (min-width: $responsive-desktop) {
				&:not(:last-child) {
					margin-right: 0;
				}

				&:not(:nth-child(3n+3)) {
					margin-right: 8px;
				}
			}
		}
	}
}

.footer-bottom {
	background: #000;
	padding: 25px 0;

	.container {
		text-align: center;
		font-size: 16px;
		color: #fff;

		a {
			text-transform: uppercase;
			color: #b5876d;
		}
	}
}