/*header*/

header {
	position: relative;
	padding-top: 86px;

	@media (min-width: $responsive-tablet) {
		padding-top: 0;
	}

	.top-line {
		display: none;

		@media (min-width: $responsive-laptop) {
			display: block;
			position: absolute;
			width: 100%;
			top: 0;
		}
	}

	.select-language {
		width: 110px;
		height: 40px;
		background: #b5876d;
		position: relative;
		float: right;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.current-language {
		flex-basis: 100%;
		cursor: pointer;
		justify-content: center;
		display: flex;
		align-items: center;

		&:after {
			display: block;
			content: '';
			width: 8px;
			height: 4px;
			background: url("assets/images/ui/icons.png") no-repeat 0px -84px;
		}
	}

	.language-flag {
		display: flex;
		margin-right: 8px;
		align-items: center;
	}

	.icon {
		width: 22px;
		height: 14px;

		&.flag-usa {
			background-position: 0 -69px;
		}
	}

	.language-list {
		position: absolute;
		left: 0;
		top: 100%;
		background: #b5876d;
		display: none;
		width: 100%;

		li {
			display: block;
			margin: 5px auto;
			color: #fff;		
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				text-decoration: underline;
			}
		}

		i {
			margin-right: 10px;
		}
	}

	.top-contacts {
		float: left;
		display: flex;
		min-height: 40px;
		align-items: center;

		li {

			&:first-child {
				margin-right: 30px;
			}
		}

		a {
			display: flex;
			align-items: center;
			font-size: 12px;
			color: #fff;
			opacity: .5;

			&:hover {
				opacity: .8;
			}

			&:before {
				display: block;
				content: '';
				background: url("assets/images/ui/icons.png") no-repeat;
			}
		}

		.top-phone {

			&:before {
				width: 13px;
				height: 13px;
				background-position: 0 0;
				margin-right: 7px;
			}
		}

		.top-mail {

			&:before {
				width: 15px;
				height: 9px;
				background-position: 0 -14px;
				margin-right: 9px;
			}
		}
	}

	.top-social {
		float: right;
		margin-right: 15%;
		display: flex;
		align-items: center;
		min-height: 40px;

		li {

			&:not(:last-child) {
				margin-right: 32px;
			}
		}

		a {
			display: block;
			opacity: .5;

			&:hover {
				opacity: .8;
			}
			
			.icon {
				width: 15px;
				height: 14px;
			}
		}

		.social-facebook {
			background-position: 0 -24px;
		}

		.social-twitter {
			background-position: 0 -39px;
		}

		.social-instagram {
			background-position: 0 -54px;
		}

		.social-linkedin {
			background-position: -16px -24px;
		}
	}
}

.header-slider {
	position: relative;
	max-width: 100%;

	.slide {
		width: 100%;
		position: relative;
		background-size: cover;
	}

	img {
		display: block;
		width: 100%;
	}

	.slider-buttons {

		button {
			display: flex;
			border: 2px solid #fff;
			opacity: .6;
			position: absolute;
			top: 50%;
			background: transparent;
			border-radius: 2px;
			transform: translateY(-50%);
			transition: 0.3s;
			cursor: pointer;
			z-index: 2;
			width: 25px;
			flex-shrink: 0;
			height: 25px;

			@media (min-width: $responsive-desktop) {
				width: 50px;
				height: 50px;
			}

			&:after {
				display: block;
				content: '';
				width: 8px;
				height: 14px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url("assets/images/ui/icons.png") no-repeat;
			}

			&:hover {
				opacity: 1;
			}
		}

		.slider-left {
			left: 0;

			&:after {
				background-position: 0 -107px;
			}
		}

		.slider-right {
			right: 0;

			&:after {
				background-position: 0 -122px;
			}
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
		align-items: center;
		align-content: center;
		width: 100%;
		min-height: 44.8vw;
		flex-wrap: wrap;
		color: #fff;
		text-align: center;
		padding: 0 30px;

		h1 {
			flex-basis: 100%;
			text-transform: uppercase;
			font-size: 20px;
			font-family: $raleway;
			font-weight: 700;
			margin-bottom: 25px;

			@media (min-width: $responsive-desktop) {
				font-size: 48px;
			}
		}

		p {
			font-size: 15px;
			display: none;

			@media (min-width: $responsive-tablet) {
				display: block;
			}
		}
	}
}

.booking {
	margin-top: -30px;
	position: relative;

	@media (min-width: $responsive-laptop) {
		margin-top: -136px;
	}

	form {
		display: flex;
		background: #fff;
		flex-wrap: wrap;
		padding: 20px;
		box-shadow: 0px 12px 21px -6px rgba(0,0,0,0.39);

		@media (min-width: $responsive-tablet) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		@media (min-width: $responsive-laptop) {
			padding: 56px 45px;
		}
	}

	.form-field {
		flex-basis: 100%;

		&:not(:last-child) {
			margin-bottom: 10px;

			@media (min-width: $responsive-tablet) {
				margin-bottom: 0;
			}
		}

		@media (min-width: $responsive-tablet) {
			flex-basis: auto;
		}

		&>input,
		&>select {
			width: 100%;

			@media (min-width: $responsive-tablet) {
				width: 130px;
			}

			@media (min-width: $responsive-laptop) {
				width: 150px;
			}

			@media (min-width: $responsive-desktop) {
				width: 181px;
			}
		}
	}

	input,
	select {
		display: block;
		width: 100%;
		height: 48px;
		text-transform: uppercase;
		border: 2px solid #cad3de;
		font-size: 14px;
		color: #626262;
		padding: 0 0 0 10px;
	}

	input {

		&[type="submit"] {
			background: #b5876d;
			color: #fff;
			border: none;
			transition: 0.3s;
			padding: 0;

			&:hover {
				background: darken(#b5876d, 5%);
			}
		}
	}

	.date {
		position: relative;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 16px;
			right: 8%;
			width: 14px;
			height: 14px;
			background: url("assets/images/ui/icons.png") no-repeat 0px -137px;
		}
	}
}

.breadcrumbs {
	position: relative;
	margin-top: -50px;
	margin-bottom: 20px;

	@media (min-width: $responsive-laptop) {
		margin-top: -100px;
		margin-bottom: 20px	;
	}

	@media (min-width: $responsive-desktop) {
		margin-top: -190px;
		margin-bottom: 40px	;
	}

	&.inner {
		margin-top: -50px;
	}

	&+.booking {
		margin-top: 0;

		@media (min-width: $responsive-laptop) {
			margin-top: 0;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		text-transform: uppercase;
		font-size: 12px;
		display: flex;
		align-items: center;
		color: #b5876d;

		@media (min-width: $responsive-tablet) {
			font-size: 15px;
		}

		&:not(:first-child) {

			&:before {
				display: block;
				content: '-';
				margin: 0 5px;
			}
		}
	}

	a {
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}
}