
/* COMMON */
@import 'variables';
/* GENERAL */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: $lato;
	max-width: 1920px;
	min-width: 320px;
	margin: 0;
	padding: 0;
}
.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 10px;

	@media (min-width: $responsive-desktop) {
		padding: 0;
	}
}

a {
	text-decoration: none;
}
.clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

a {
	text-decoration: none;
	transition: 0.3s;
	color: inherit
}

input,
select {
	border: 0;
	outline: none;

	&:not([type="submit"]):not([type="file"]) {

		&:focus {
    	box-shadow: 0 0 3px rgba(10,125,224,.5);
		}
	}
}

.icon {
	display: block;
	background: url("assets/images/ui/icons.png") no-repeat;
}

input,
textarea,
select {

	&::-webkit-input-placeholder {
		font-size: 14px;
	  letter-spacing: -0.1px;
	  color: #90a4ae;
	}
}

button {
	border: 0;
	transition: 0.3s;
}

.img-responsive {
	display: block;
	max-width: 100%;
}

ul,ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/* PARTIALS */
@import 'partials/menu';
@import 'partials/header';
@import 'partials/footer';

/* PAGES */
@import 'pages/main';
@import 'pages/lobby';
@import 'pages/loyalty';
@import 'pages/studio-apartments';
@import 'pages/room-inside';
@import 'pages/gallery';
