/*gallery*/
section.gallery {
	padding: 35px 0;

	@media (min-width: $responsive-tablet) {
		padding: 35px 0 100px 0;
	}

	&:before {
		display: block;
    content: "";
    width: 166px;
    height: 6px;
    margin: 0 auto 30px;
    background: url(assets/images/ui/icons.png) 0px -445px no-repeat;
	}

	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.item {
		width: 100%;
		margin-bottom: 20px;

		@media (min-width: $responsive-mobile) {
			width: calc(50% - 21px);

			&:nth-child(odd) {
				margin-right: 42px;
			}
		}

		@media (min-width: $responsive-tablet) {
			width: calc(100% / 3 - 14px);

			&:nth-child(odd) {
				margin-right: 0;
			}

			&:not(:nth-child(3n+3)) {
				margin-right: 21px;
			}
		}
	}

	.img-holder {
		position: relative;

		img {
			object-fit: cover;
			width: 100%;
		}		
	}

	.data {
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
		text-align: center;
		padding: 20px;
		display: block;

		span {
			font-size: 18px;
			color: #000;
		}

		p {
			font-size: 18.2px;
			font-weight: 700;
			color: #b5876d;
			font-family: $raleway;
		}
	}
}