/*room inside*/
section.room {
	padding: 25px 0 0 0;

	@media (min-width: $responsive-tablet) {
		padding: 25px 0 30px 0;
	}

	.container {
		display: flex;
		flex-wrap: wrap;

		@media (min-width: $responsive-laptop) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		&>div {
			width: 100%;

			@media (min-width: $responsive-laptop) {
				width: calc(50% - 10px);
				flex-shrink: 0;
			}
		}
	}

	.room-photos {
		margin-bottom: 20px;

		@media (min-width: $responsive-laptop) {
			margin-bottom: 0;
		}
	}

	.main-photo {
		position: relative;
		margin-bottom: 10px;

		img {
			margin: 0 auto;
		}

		.photo {
			position: relative;
		}
	}

	.zoom-photo {
		position: absolute;
		top: 55%;
		outline: none;
		left: 50%;
		transform: translateX(-50%);
	}

	.thumbnails {
		position: relative;
		padding: 0 30px;
	}

	.thumbs {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.thumb {

		&:not(:last-child) {
			margin-right: 5px;

			@media (min-width: $responsive-tablet) {
				margin-right: 12px;
			}
		}
	}

	.slider-buttons {

		button {
			display: block;
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border: none;
			padding: 0;
			outline: none;
			width: 19px;
			height: 29px;
			background: url("assets/images/ui/icons.png") no-repeat;
		}

		.slider-left {
			left: 0;
			background-position: 0 -536px;
		}

		.slider-right {
			right: 0;
			background-position: 0 -566px;
		}
	}

	.room-data {
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
		padding: 20px;

		@media (min-width: $responsive-tablet) {
			padding: 30px;
		}

		h2 {
			text-align: center;
			font-weight: 700;
			font-family: $raleway;
			color: #b5876d;
			font-size: 20px;

			&:after {
				display: block;
		    content: "";
		    width: 166px;
		    height: 6px;
		    background: url(assets/images/ui/icons.png) 0px -445px no-repeat;
		    margin: 15px auto;

		    @media (min-width: $responsive-tablet) {
		    	margin: 25px auto;
		    }
			}
		}

		p {
			color: #000;
			font-weight: 400;
			font-family: $raleway;
			font-size: 16px;
			line-height: 24px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&+section.list {

		.man {
			width: 50%;

			img {
				margin: 0 auto;
			}
		}
	}
}

